.DS_Store
.idea
*.iml
/acmesolver
/controller
/ingress-shim
/ctl
/hack/build/dockerfiles/cert-manager-*_*_*
.vscode
.venv
bazel-*
/.settings/
/.project
_artifacts/
/vendor/
bin/
_bin/
.bin/
user.bazelrc
*.bak
