required = [
  "k8s.io/code-generator/cmd/client-gen",
  "k8s.io/code-generator/cmd/conversion-gen",
  "k8s.io/code-generator/cmd/deepcopy-gen",
  "k8s.io/code-generator/cmd/defaulter-gen",
  "k8s.io/code-generator/cmd/informer-gen",
  "k8s.io/code-generator/cmd/lister-gen",
  "github.com/onsi/ginkgo/ginkgo",
]

[[constraint]]
  name = "k8s.io/api"
  version = "kubernetes-1.10.12"

[[constraint]]
  name = "k8s.io/apimachinery"
  version = "kubernetes-1.10.12"

[[constraint]]
  name = "k8s.io/client-go"
  version = "kubernetes-1.10.12"

[[constraint]]
  name = "k8s.io/code-generator"
  version = "kubernetes-1.10.12"

[[constraint]]
  name = "k8s.io/apiextensions-apiserver"
  version = "kubernetes-1.10.12"

[[override]]
  name = "k8s.io/apiserver"
  version = "kubernetes-1.10.12"

[[constraint]]
  name = "github.com/Azure/azure-sdk-for-go"
  version = "v12.0.0-beta"

[[constraint]]
  name = "github.com/digitalocean/godo"
  version = "v1.6.0"

[[constraint]]
  name = "github.com/openshift/generic-admission-server"
  revision = "76d182e57ce628bbf6eb266a7d26cf6c52adf551"

[[constraint]]
  name = "github.com/hashicorp/vault"
  version = "v0.9.3"

# Use the GitHub mirror of goautoneg to save issues with bitbucket being down
[[override]]
  name = "bitbucket.org/ww/goautoneg"
  revision = "a547fc61f48d567d5b4ec6f8aee5573d8efce11d"
  source = "https://github.com/munnerz/goautoneg.git"

### Overrides for transitive kubernetes dependencies
### These should be updated whenever we bump the kubernetes version we depend on
[[override]]
  name = "k8s.io/gengo"
  revision = "b6c426f7730e6d66e6e476a85d1c3eb7633880e0"

[[override]]
  name = "google.golang.org/grpc"
  revision = "5b3c4e850e90a4cf6a20ebd46c8b32a0a3afcb9e"

[[override]]
  name = "k8s.io/kube-openapi"
  revision = "50ae88d24ede7b8bad68e23c805b5d3da5c8abaf"

[[override]]
  name = "github.com/golang/protobuf"
  revision = "1643683e1b54a9e88ad26d98f81400c8c9d9f4f9"

[[override]]
  name = "google.golang.org/genproto"
  revision = "09f6ed296fc66555a25fe4ce95173148778dfa85"

[[override]]
  name = "github.com/json-iterator/go"
  revision = "f2b4162afba35581b6d4a50d3b8f34e33c144682"

[prune]
  unused-packages = true
  go-tests = true
  [[prune.project]]
    name = "github.com/hashicorp/vault"
    non-go = true
  [[prune.project]]
    name = "github.com/prometheus/procfs"
    non-go = true
  [[prune.project]]
    name = "github.com/hashicorp/go-rootcerts"
    non-go = true
  [[prune.project]]
    name = "k8s.io/code-generator"
    unused-packages = false
  [[prune.project]]
    name = "k8s.io/kube-openapi"
    unused-packages = false
