name: CI

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: acmck/bazel

    steps:
    - name: Checkout
      uses: actions/checkout@v1

    - name: Install bazelisk
      run: |
        curl -LO "https://github.com/bazelbuild/bazelisk/releases/download/v1.1.0/bazelisk-linux-amd64"
        mkdir -p "${GITHUB_WORKSPACE}/bin/"
        mv bazelisk-linux-amd64 "${GITHUB_WORKSPACE}/bin/bazel"
        chmod +x "${GITHUB_WORKSPACE}/bin/bazel"
    - name: Build
      run: |
        "${GITHUB_WORKSPACE}/bin/bazel" build \
            --config=ci \
            --remote_header=x-buildbuddy-api-key=${{ secrets.BUILDBUDDY_ORG_API_KEY }} \
            //cmd/ctl
    - name: Test
      run: |
        "${GITHUB_WORKSPACE}/bin/bazel" test \
            --config=ci \
            --remote_header=x-buildbuddy-api-key=${{ secrets.BUILDBUDDY_ORG_API_KEY }} \
            //cmd/ctl
